annotated-types==0.7.0
anyio==4.6.0
-e git+https://github.com/juanpablosotoc/blossom.git@6bd759295f127e76b4df31c3e6f217e4b5b6b782#egg=blossom_aws&subdirectory=code/backend/packages/aws
blossom_exceptions @ file:///Users/juanasoto/Desktop/blossom/code/exceptions/backend
boto3==1.35.12
botocore==1.35.12
certifi==2024.8.30
click==8.1.7
fastapi==0.115.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
packaging==24.1
pluggy==1.5.0
pydantic==2.9.2
pydantic_core==2.23.4
pytest==8.3.2
python-dateutil==2.9.0.post0
s3transfer==0.10.2
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
starlette==0.38.6
typing_extensions==4.12.2
urllib3==2.2.2
uvicorn==0.30.6
